.day {
  border: 1px solid #ccc;
  padding: 1em;
  text-align: center;
}

.weekend {
  background-color: #eee;
}

.weekdayLabel {
  background-color: #ccc;
  padding: 1em;
  text-align: center;
  font-weight: bold;
}

.week {
  display: flex;
  justify-content: space-around;
}

.dayNumber {
  margin-top: 10px;
}