.div {
    /* Estilos para el modo claro */
    --color-primary: #3b82f6;
    color: var(--color-primary);
  }
  
  /* Estilos específicos para el modo oscuro */
  .dark-mode{
    background-color: #1a202c;
    color: #cbd5e0;
    /* Otros estilos para el modo oscuro */
  }